h2 {
  text-align: center;
  padding-top: 30px;
}

li {
  list-style-type: none;
}

.item {
  display: block;
  margin: auto;
  font-family: 'Nixie One', cursive;
}

.ui.inverted.menu {
  background-color: #ff632e;
}

.ui.button {
  display: block;
  margin: auto;
  background-color: #ff632e;
  color: white;
}

.ui.button:hover {
  background-color: #b32d00;
  color: white;
}

.submission-tile {
  background-color: white;
}
