<h2>Thanks, {{submission.name}}. Help is on the way.</h2>
<p>Leave this page open while you continue working on the problem.</p>
<button class="ui button" {{action 'delete' submission}}>Nevermind, we got it.</button>
